body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.flex-row {
  display: flex;
  flex-direction: row;
}
.flex-column {
  display: flex;
  flex-direction: column;
}
.app-toolbar {
  border-bottom: 3px solid #32C996;
  background-color: white;
}
.fruits-title {
  color: white;
  background: #32C996;
  padding: 8px 16px;
  font-weight: 900;
  font-size: 20px;
  margin-top: 24px;
}
.product-price {
  font-size: 28px;
  font-weight: 600;
}
.shopping-cart {
  height: 100vh;
  background-color: #32C996;
}
.cart-item-quantity {
  width: 32px;
  height: 32px;
  text-align: center;
  margin: auto 0;
  padding-top: 18px;
}
.cart-item-image {
  border-radius: 6px;
  margin-right: 8px;
}
.cart-item-value {
  font-size: 11px;
  padding-top: 4px;
}
.cart-item-footer {
  justify-content: space-between;
}
.cart-header {
  display: flex;
  flex-direction: column;
  color: white;
}
.cart-title {
  font-size: 32px;
  font-weight: 900;
  text-align: center;
}
.cart-subtitle {
  font-size: 11px;
  font-weight: normal;
  text-align: center;
}
.cart-hrline {
  border: 1px solid white;
  margin: 16px 0 0 32px;
}
.cart-total {
  color: white;
  text-align: right;
  padding: 8px;
  font-weight: 900;
}
.cart-actions {
  padding: 0 16px;
}
